body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 141px; height: 63px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }

#rcorners1 {
    border-radius: 25px 25px 0px 0px;
    background: #FD5000;
    padding: 1.5em;
    padding-left: 20px;
    padding-right: 50px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: -10px;
    z-index:1;
	overflow: hidden;
}

#rcorners2 {
    border-radius: 25px 25px 0px 0px;
    background: #666666;
    padding: 1.5em;
    padding-right: 50px;
    border: 2px solid black;
    border-top-width: 0.5em;
    border-bottom-width: 0px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: -5px;
	overflow: hidden;
}

html, body {
    overflow: hidden;
    margin: 0px;
}


#makeitsoft {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0%);
}

#softRX_logo {
    position: absolute;
    right: 0.75em;
    bottom: 0.75em;
    width: 3em;
}

#wsd_logo {
    position: absolute;
    right: 1em;
    top: 1em;
    height: 1em;
    filter: brightness(0%);
}


#tabs {
    display: flex;
    flex-direction: row;
    height: 6vh;
    font: normal normal normal 2vh NDGM;
    color: #FFFFFF;
}

#main_area {
    position: absolute;
    background: #FD5000;
    width: 100%;
    height: 94%;
}

#photo {
    max-width: 100%;
    max-height: calc(100% - calc(2vh));
    outline: 1px solid black;
}

#closebutton {
    display: inline-block;
    font: normal normal normal 1em NDGM;
    cursor: pointer;
}


#photos {
    position: relative;
    display:block;
    width:100%;
    height:100%;
    cursor: grab;
}

.draggable {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0.2em;
    padding-bottom: 30px;
    width: auto;
    height: 30vh;
    z-index: 2;
    outline: 1px solid black;
    box-shadow: 3px 3px 10px black;
}

.ui-resizable-handle {
    z-index: auto !important;
}
.ui-resizable {
    position: absolute !important;
}
@media (max-aspect-ratio: 1/1) {

    #tabs {
        position: absolute;
        bottom:0;
        left: 10vw;
        flex-direction: row;
        align-items: flex-end;
        flex-shrink:0;
        width: 100vh;
        height: 10vw;
        font: normal normal normal 2vh NDGM;
        color: #FFFFFF;
        transform: rotate(-90deg);
        transform-origin: bottom left;
        white-space: nowrap;
    }

    .draggable {
        position: absolute;
        padding: 0.2em;
        padding-bottom: 20px;
        width: 30vw;
        height: auto;
        z-index: 2;
        outline: 1px solid black;
        box-shadow: 3px 3px 10px black;
    }
    #main_area {
        position: absolute;
        top:0px;
        left:9.5%;
        background: #FD5000;
        width: 90.5%;
        height: 100%;
    }
    #rcorners1 {
        border-radius: 25px 25px 0px 0px;
        background: #FD5000;
        padding: 1em;
        padding-left: 20px;
        padding-right: 50px;
        text-decoration: none;
        color: #FFFFFF;
        margin-right: -10px;
        z-index: 1;
        overflow: hidden;
    }

    #rcorners2 {
        border-radius: 25px 25px 0px 0px;
        background: #666666;
        padding: 0.5em;
        padding-left: 20px;
        padding-right: 50px;
        border: 2px solid black;
        border-top-width: 0.5em;
        border-bottom-width: 0px;
        text-decoration: none;
        color: #FFFFFF;
        margin-right: -5px;
        overflow: hidden;
    }

}